In [1]:
import pandas as pd
#import seaborn as sns

from sql_functions import get_data
from sql_functions import get_dataframe

ModuleNotFoundError: No module named '_sql_functions'

In [4]:
get_data(f'SELECT * from flights LIMIT 5')

[(datetime.datetime(2021, 1, 2, 0, 0), 733.0, 730, 3.0, 927.0, 939, -12.0, '9E', 'N337PQ', 4628, 'CVG', 'BOS', 89.0, 114.0, 752, 0, 0),
 (datetime.datetime(2021, 1, 3, 0, 0), 727.0, 730, -3.0, 924.0, 939, -15.0, '9E', 'N607LR', 4628, 'CVG', 'BOS', 97.0, 117.0, 752, 0, 0),
 (datetime.datetime(2021, 1, 4, 0, 0), 737.0, 730, 7.0, 938.0, 939, -1.0, '9E', 'N602LR', 4628, 'CVG', 'BOS', 103.0, 121.0, 752, 0, 0),
 (datetime.datetime(2021, 1, 7, 0, 0), 1710.0, 1715, -5.0, 1911.0, 1912, -1.0, '9E', 'N295PQ', 4628, 'CVG', 'BOS', 104.0, 121.0, 752, 0, 0),
 (datetime.datetime(2021, 1, 8, 0, 0), 1711.0, 1715, -4.0, 1926.0, 1912, 14.0, '9E', 'N324PQ', 4628, 'CVG', 'BOS', 106.0, 135.0, 752, 0, 0)]

In [5]:
get_dataframe(f'SELECT * from flights LIMIT 5')

,flight_date,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,airline,tail_number,flight_number,origin,dest,air_time,actual_elapsed_time,distance,cancelled,diverted
0,2021-01-02,733.0,730,3.0,927.0,939,-12.0,9E,N337PQ,4628,CVG,BOS,89.0,114.0,752,0,0
1,2021-01-03,727.0,730,-3.0,924.0,939,-15.0,9E,N607LR,4628,CVG,BOS,97.0,117.0,752,0,0
2,2021-01-04,737.0,730,7.0,938.0,939,-1.0,9E,N602LR,4628,CVG,BOS,103.0,121.0,752,0,0
3,2021-01-07,1710.0,1715,-5.0,1911.0,1912,-1.0,9E,N295PQ,4628,CVG,BOS,104.0,121.0,752,0,0
4,2021-01-08,1711.0,1715,-4.0,1926.0,1912,14.0,9E,N324PQ,4628,CVG,BOS,106.0,135.0,752,0,0